.app-container {
  transition: transform 2s linear;
}

.barrel-roll {
  animation: barrelRoll 2s linear;
}

@keyframes barrelRoll {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
